/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: White;
  font-style: italic;
}

p {
  line-height: 2rem;
  font-size: 20px;
}

.sidenav-trigger {
  color: #26a69a;
}


.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
}
  .parallax-container .section {
    width: 100%;
  }


.bloco-produto{
  margin: 5px;
  font-weight: bold;
  padding: 30px;
}

.texto{
  font-size: 11px;
  text-align:center;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
